<div th:fragment="table" class="d-flex flex-column p-0 mt-4 col-md-10" th:if="${listUser != null}">

    <table id="data" class="table table-hover shadow-sm border mb-2">
        <thead>
        <tr th:if="${countUser >=0}">
            <th class="text-center" scope="col">Email Address</th>
            <th class="text-center" scope="col">Temporary Registration Date</th>
            <th class="text-center" scope="col"></th>
        </tr>
        </thead>
        <tbody id="myTable" >
        <tr th:each="user,i:${listUser}">
                <td
                    style="cursor: pointer;">
                    [(${user.email})]
                </td>
                <td>
                    [(${user.created})]
                </td>
                <td>
                    <a href="#" data-bs-toggle="modal" th:data-bs-target="'#deleteUserTemporaryItem-' + ${user.userId}">
                        <img class="" th:src="@{/image/171.png}">
                    </a>

                    <div class="modal fade p-0" th:id="'deleteUserTemporaryItem-' + ${user.userId}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                         aria-labelledby="reloadModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered justify-content-center modal-md">
                            <div class="modal-content mx-auto">
                                <div class="modal-body text-center">
                                    <img class="mx-auto mb-3" th:src="@{/image/warning.png}">
                                    <b><h5 v-if="header" class="modal-title mx-auto">Do you want to delete the information?</h5></b>
                                    <div class="row justify-content-center">
                                        <div class="row justify-content-center">

                                            <span id="messageSend"
                                                  style="color: #000000;font-size: 20px;"
                                                  class="text-center col-12 pt-3 pb-3 mx-auto fs-6">Clicking the delete button cannot be undone.</span>
                                        </div>

                                        <div class="row justify-content-center">
                                            <a style="text-decoration: none;" 
                                               class="closeButton btn create notification col-md-4"
                                               data-bs-dismiss="modal">Cancel</a>
                                            <a style="text-decoration: none;" th:href="@{'/admin/temporaryUser/' + ${user.userId} + '/' + ${user.email} + '/' + ${user.created}}" class="ok btn create notification col-md-4">Delete</a>

                                        </div>

                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </td>
        	</tr>
        </tbody>
    </table>

    <nav id="pageable" class=" d-flex justify-content-end pt-3"
			aria-label="Page navigation example"
			style="background: white; border: 1px solid gainsboro;">
			<ul class="pagination justify-content-center border rounded-3 me-5">
				<li th:if="${currentPage >1}"
					class="page-item"><a style="color: #007564;"
					th:href="@{/admin/temporaryUser(dateFrom=${dateFrom},dateTo=${dateTo},page=1)}"
					th:class="${currentPage == 0 ? 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none active' : 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none'}">
						≪ </a></li>
				<li class="page-item" th:if="${currentPage > 2}"><span
					class="page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none">...</span>
				</li>
				<th:block th:each="pageNumber : ${pageNumbers}"
					th:if="${pageNumber >= currentPage - 1 and pageNumber <= currentPage + 3}">
					<li th:class="${pageNumber == currentPage + 1 ? 'page-item active' : 'page-item'}"><a
						th:href="@{/admin/temporaryUser(dateFrom=${dateFrom},dateTo=${dateTo},page=${pageNumber})}"
						th:class="${pageNumber == currentPage + 1 ? 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none active' : 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none'}">
							[(${pageNumber})] </a></li>
				</th:block>
				<li class="page-item" th:if="${currentPage + 3 < totalPages}">
					<span
					class="page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none">...</span>
				</li>
				<li class="${currentPage == totalPages - 1 ? 'page-item active' : 'page-item'}" th:if="${currentPage + 3 < totalPages}">
					<a th:href="@{/admin/temporaryUser(dateFrom=${dateFrom},dateTo=${dateTo},page=${totalPages})}"
					th:class="${currentPage == totalPages - 1 ? 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none active' : 'page-link border-0 m-2 me-0 p-0 ps-2 pe-3 border-end shadow-none'}">
						[(${totalPages})] </a>
				</li>
				<li class="page-item"><a th:href="@{/admin/temporaryUser(dateFrom=${dateFrom},dateTo=${dateTo},page=${currentPage}+2)}"
					class="page-link border-0 m-2 me-0 p-0 ps-2 pe-3 shadow-none" th:if="${currentPage < totalPages - 1}"
					style="color: #007564;"> ≫ </a></li>
			</ul>
		</nav>

</div>