<div th:fragment="body" class="col-md-10 p-0">
    <th:block th:insert="~{fragment/fragment-header-notification :: header}"></th:block>

    <div class="col-md-12 shadow-sm a p-0">
        <div class="col-md-12 p-4 pb-0">

            <div class="col-md-11 p-0 mx-auto text-end">
                <a class="btn create notification" th:href="@{/notification/notification-template/new-template}">New Template Registration</a>
            </div>
            <p class="col-md-11 p-0 mx-auto text-end mb-0 mt-3 ">[(${count})] items / 100 items</p>
            <div class="col-md-9 p-0 mx-auto">
                <label class="title"><b>Template </b></label>
            </div>
        </div>
        <div class="col-md-12 p-5">
            <div class="col-md-8 p-0 mx-auto">

                <div class="d-flex flex-column bd-highlight border rounded m-0">
                    <div th:each="i: ${list}" class="p-2 m-0 ps-0 bd-highlight row d-flex border ">
                        <div class="col-md-10 ps-3">
                            <label>[(${i.titleFormat})]</label>
                        </div>
                        <div class="col-md-2 d-flex justify-content-end">
                            <a th:href="@{/notification/notification-template/detail-template/{templateId}(templateId=${i.unyonum})}" >
                                <svg class="svg-inline--fa fa-pencil-alt fa-w-16 me-3" style="color: #696969;" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="pencil-alt" role="img" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M497.9 142.1l-46.1 46.1c-4.7 4.7-12.3 4.7-17 0l-111-111c-4.7-4.7-4.7-12.3 0-17l46.1-46.1c18.7-18.7 49.1-18.7 67.9 0l60.1 60.1c18.8 18.7 18.8 49.1 0 67.9zM284.2 99.8L21.6 362.4.4 483.9c-2.9 16.4 11.4 30.6 27.8 27.8l121.5-21.3 262.6-262.6c4.7-4.7 4.7-12.3 0-17l-111-111c-4.8-4.7-12.4-4.7-17.1 0zM124.1 339.9c-5.5-5.5-5.5-14.3 0-19.8l154-154c5.5-5.5 14.3-5.5 19.8 0s5.5 14.3 0 19.8l-154 154c-5.5 5.5-14.3 5.5-19.8 0zM88 424h48v36.3l-64.5 11.3-31.1-31.1L51.7 376H88v48z"></path></svg>
                            </a>
                            <a th:href="@{/notification/notification-template/cancel/{id}(id=${i.unyonum})}">
                                <svg class="svg-inline--fa fa-trash-alt fa-w-14 ms-4" style="color: #ff3a24;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" role="img" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>