<div th:fragment="body" class="col-md-10 p-0 m-0">
    <th:block th:insert="~{fragment/fragment-header-home :: header}"></th:block>

    <div class="m-5 p-5">
        <div class="d-flex align-items-end flex-column p-0 pt-2">[(${countUser})] items</div>
        <div class="d-flex align-items-center flex-column p-0 pt-2">

            <div class="col-md-10 row d-flex border m-0 border-dark">
                <form id="searchForm" class="form-signin col-md-12 p-0 m-0 border-0 d-flex bd-highlight" th:method="GET" th:action="@{/admin/user}">
                    <input class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 w-100 bd-highlight" name="keyWord" type="search" id="example-search-input">
                    <span class="input-group-append flex-shrink-1 bd-highlight">
                    <button class="btn  bg-white border-start-0 border-0 m-0 p-3" type="submit">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                    </button>
                </span>

                </form>
            </div>

        </div>
        <th:block th:insert="~{fragment/fragment-body-table :: table}"></th:block>
    </div>

</div>