<div th:fragment="body" class="col-md-10 p-0 m-0">
    <th:block th:insert="~{fragment/fragment-header-home :: header}"></th:block>

    <div class="m-5 p-5" id="root">

        <div class="d-flex align-items-center flex-column p-0 pt-2">
            <div class="d-flex align-items-end flex-column p-0 pt-2 col-md-10 mb-3" th:if="${countUser ==0}">Temporary Users: [(${countUser})] items</div>
            <div class="d-flex align-items-center p-0 pt-2 col-md-12 mb-3 justify-content-end" th:if="${countUser >0}">
                <p class="col-auto m-0 me-3">Temporary Users: [(${countUser})] items</p>
                <a class="buttonDelete m-0" href="#" data-bs-toggle="modal" data-bs-target="#deleteUserTemporaryAll" >Bulk Delete</a>
<!--                modal-->
                <div  class="modal fade p-0" id="deleteUserTemporaryAll" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                      aria-labelledby="reloadModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered justify-content-center modal-md">
                        <div class="modal-content mx-auto">
                            <div class="modal-body text-center">
                                <img class="mx-auto mb-3" th:src="@{/image/warning.png}">
                                <b><h5 class="modal-title mx-auto">Do you want to delete this information?</h5></b>
                                <div class="row justify-content-center">
                                    <div class="row justify-content-center">

                                        <span id="messageSend"
                                              style="color: #000000;font-size: 20px;"
                                              class="text-center col-12 pt-3 pb-3 mx-auto fs-6">Once you click the delete button, it cannot be undone.</span>
                                    </div>

                                    <div class="row justify-content-center">
                                        <a style="text-decoration: none;"
                                           class="closeButton btn create notification col-md-4"
                                           data-bs-dismiss="modal">Cancel</a>
                                        <a style="text-decoration: none;" th:href="@{'/admin/deleteAllUser/' + ${dateFrom} + '/' + ${dateTo} + '/' + ${dateFrom} + '-' + ${dateTo}}" class="ok btn create notification col-md-4">Delete</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-10 row d-flex border m-0 border-dark bg-white">
                <form id="searchForm" onsubmit="validateFormTemporaryUser(event)" th:object="${userTemporary}" class="form-signin p-0 m-0 border-0 d-flex justify-content-center" th:method="GET" th:action="@{/admin/temporaryUser}">
                    <div class="border-0 p-2 ms-5 rounded-0 p-2 w-100 d-flex justify-content-center">
                        <input id="dateFrom" class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 col-4 bd-highlight" th:if="${dateFrom != null}" name="dateFrom" th:value="${dateFrom}" type="datetime-local">
                        <input id="dateFrom" class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 col-4 bd-highlight" th:if="${dateFrom == null}" name="dateFrom" type="datetime-local">
                        <p class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 col-2 text-center">〜</p>
                        <input id="dateTo" class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 col-4 bd-highlight" th:if="${dateTo == null}" name="dateTo" type="datetime-local">
                        <input id="dateTo" class=" border-0 p-2 m-0 shadow-none rounded-0 p-2 col-4 bd-highlight" th:if="${dateTo != null}" name="dateTo" th:value="${dateTo}" type="datetime-local">
                    </div>

                    <span class="input-group-append flex-shrink-1 bd-highlight ms-auto">
                    <button class="btn  bg-white border-start-0 border-0 m-0 p-3 shadow-none" type="submit">
                        <svg class="svg-inline--fa fa-search fa-w-16" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="search" role="img" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"></path></svg>
                    </button>
                </span>
                </form>
            </div>
            <div class="col-md-10 d-flex justify-content-around">
                <div id="textFrom" class="bd-highlight text-danger col-md-4"></div>
                <div id="textTo" class="bd-highlight text-danger col-md-4"></div>
            </div>
            <th:block th:insert="~{fragment/fragment-body-table-temporary-user :: table}"></th:block>
        </div>

    </div>

</div>