<div th:fragment="body" class="col-md-10 p-0 m-0">
    <th:block th:insert="~{fragment/fragment-header-notification :: header}"></th:block>

    <div class="col-md-12 a p-0 pe-5 ps-5 m-0">
        <div class="col-md-12 pt-5">
            <div class="d-flex align-items-end flex-column p-0 pt-2 row">
                <div class="container p-0 col-md-12 ps-3">
                    <div class="row row-cols-2">
                        <label class="form-check-label col pt-4 pb-4">
                            <b>Confirmation Screen</b>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 p-5 mx-auto shadow pt-0 pb-3">
            <div class="col-md-12 p-0 mx-auto pe-5">

                <div class="d-flex flex-column bd-highlight m-0 mb-4 me-5 fs-6">
                    <div class="mt-3">
                        <label><b>Notification Category</b></label>
                        <p type="text" th:text="${catalogName}"
                           class=" shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"></p>
                    </div>
                    <div class="mt-3">
                        <div class="mt-3">
                            <label><b>Filter Condition</b></label>
                            <p type="text" th:text="${conditionName}"
                               class=" shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"></p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="mt-3">
                            <label><b>CSV Upload</b></label>
                            <p type="text" th:text="${fileCSV}"
                               class=" shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0">
                                Xxxx.csv</p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <label><b>Title</b></label>
                        <p type="text" class=" shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"
                           th:text="${newNotification.chgTitle}"></p>
                    </div>
                    <div class="mt-3">
                        <div class="mt-3">
                            <label><b>Content</b></label>
                            <p type="text" style="word-wrap: break-word;"
                               class=" shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"
                               th:text="${newNotification.chgText}"></p>
                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="mt-3">
                            <label><b>Link URL</b></label>
                            <a th:href="${newNotification.linkUrl}" class="text-left" target="_blank" style="color: #0d6efd; text-decoration: underline; word-wrap: break-word;">
                                <p type="text"
                                   class="shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"
                                   th:text="${newNotification.linkUrl}"></p>
                            </a>

                        </div>
                    </div>
                    <div class="mt-3">
                        <div class="mt-3">
                            <label><b>Expiration Date</b></label>
                                <p type="text"
                                   class="shadow-none rounded-0 border-top border-secondary ps-5 fs-6 pt-3 mb-0"
                                   th:text="${newNotification.hapyoTime}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input hidden form="sendNotification" th:field="${newNotification.chgTitle}" type="text" >
        <textarea hidden form="sendNotification" th:field="${newNotification.chgText}" ></textarea>
        <input hidden form="sendNotification" th:field="${newNotification.linkUrl}" type="text" >
        <input hidden form="sendNotification" th:field="${newNotification.hapyoTime}" type="text" >
        <input hidden form="sendNotification" th:value="${catalog}" th:name="catalog"  type="text" >
        <input hidden form="sendNotification" th:value="${condition}" th:name="condition" type="text" >
        <textarea hidden form="sendNotification" th:text="${fileCSV}" th:name="fileName" ></textarea>
        <div class="col-md-12 d-flex justify-content-center gap-5 a">
            <a href="javascript:history.back()" class="cancelButton shadow">Return to Input Screen</a>
<!--            <a  th:href="@{/notification/notification-management/completed}" class="confirmationScreenButton">Send</a>-->

            <form hidden id="sendNotification" th:object="${notificationForm}"
                  th:action="@{/notification/notification-management/completed}" th:method="post"></form>
            <button onclick="disableButtonNotification(this)" type="submit" form="sendNotification" class="confirmationScreenButton">Send
            </button>
        </div>
    </div>
</div>
<div class="col-md-2 pt-5 m-0">
    <a href="#" class="col fs-5 col mt-5 p-3 border">XX Results Found</a>
</div>