<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" type="text/css" th:href="@{/fontawesome-free-5.15.3-web/css/fontawesome.min.css}">
  <script defer th:src="@{/fontawesome-free-5.15.3-web/js/all.js}"></script>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css} "/>
  <link th:href="@{/css/header.css}" rel="stylesheet" />
  <link th:href="@{/css/menu.css}" rel="stylesheet" />
  <link th:href="@{/css/body.css}" rel="stylesheet" />
  <title>User Information Management/Edit</title>
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <th:block th:insert="~{fragment/fragment-menu-app-user :: menu}"></th:block>
    <th:block th:insert="~{body/body-edit-user :: body}"></th:block>

  </div>
</div>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/menu.js}"></script>
<script th:src="@{/js/body.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
  document.addEventListener("keydown", function(e) {
    if (e.key === "Enter") {
      e.preventDefault();
      return false;
    }
  });
});
</script>
</body>
</html>